* {font-family: 'Itim', cursive;}

body {
    height: 100vh;
    background-color: #ffffff;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.tasks {
    width: 450px;
    height: 600px;
    background: #d384cb;
    text-align: center;
    box-shadow: 10px 10px #120e10;
    border-radius: 10px;
    overflow: hidden;
}

#header-text {
    padding-top: 3px;
    font-size: 60px;
    font-weight: bold;
}

#input {
    background: #e2f3f5;
    border: 6;
    border-left: 5px solid #1c0b14;
    padding: 7px;
}

#input:focus {
    outline: none;
}

#error-text {
    font-size: 13px;
    color: #f76868;
    width: max-content;
    margin: 0 auto;
}

#btn {
    padding: 10px;
    border: 2px solid #141029;
    color: #8366ea;
    text-transform: unset;
    font-weight: bold;
    margin: 5px;
    transition: 1s;
    border-radius: 80%;
    font-size: 20px;
    cursor: grab;
    background: #d2d5aa;
}

#list {

    height: 300px;
    overflow: scroll;
    padding: 20px 0 0 0;

    font-size: 55px;
    font-weight: 80px;
    color:#9a0274f9;
    letter-spacing: 1px;
    margin: 30px 0;
    width: 430px;
    padding:18px;
    background-color:#acd0dd;
}

::-webkit-scrollbar {
    display: none;
}

.list-item {
    padding: 10px 10px;
    margin: 10px 20px;
    height: 40px;
    color: black;
    list-style: none;
    clear: both;
    transition: 1s ease-in-out;
    background: #fff;
    border-radius: 2px;
}

.list-text {
    float: left;
    text-align: left;
    font-size: 15px;
}

.list-text span {
    font-weight: bold;
    
}

#date-text {
    font-size: 12px;
    margin: 5px 0 0 0;
    color: #43a45e;
    text-align: right;
}
#action-btn {
    margin-top: -25px;
    float: right;
}

#action-btn i {
    cursor: grab;
    margin-right: 8px;
    
}

#action-btn .icon {
    width: 25px; height: 25px;
    color: #2d1a71;

}